<h2 id="title">Welcome to Ember Simple Auth Pouch</h2>
<div class="menu">
  {{#if this.session.isAuthenticated}}
    <a {{on "click" this.invalidateSession}} href="#" role="button">Logout</a>
  {{else}}
    <LinkTo @route="login">Login</LinkTo>
  {{/if}}
</div>
<div class="main">
  {{outlet}}
</div>